body {
  background: #f1f1f1;
  color: #222;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  padding: 100px;
  width: 700px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.roles {
  font-size: 35px;
  height: 50px;
  vertical-align: middle;
  overflow: hidden;
}

.fn {
  font-size: 25px;
  padding: 20px;
}
.roles div {
  height: 50px;
  transition: margin-top 1s ease-in-out;
}

.profileImage {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}